body {
    line-height: 1.6;
    font-family: sans-serif;
    background-color: #f6f6f6;
    height: 100%;
    font-size: 100%;
    display: flex;
}
header{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/*==== ASIDE*/
.aside-nav-sec ul{
    padding: 0;
}
.left-aside-menu{
    font-size: 78%;
    margin-right: 10px;
}
.left-aside-menu .aside-nav-sec h4{
    border-bottom: 1px solid gray;
}

/*====  /ASIDE*/
 .header-desc{
    display: flex;
    flex-direction: column;
}
.wrap-table-desc{
    display: flex;
}
div.conteiner {
    padding: 20px 24px;
    border: 1px solid #a7d7f9;
    background-color: #ffffff;
    font-size: calc(1em * 0.875);
}

h1 {
    font-size: 1.8em;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    line-height: 1.3;
    font-weight: normal;
    color: #000000;
    padding: 0;
    border-bottom: 1px solid #a2a9b1;
    margin: 0 7px 0 0;
}
p {
     text-align: justify;
 }
.table-img{
    border-spacing: 3px;
    background-color: #f8f9fa;
    font-size: 88%;
    line-height: 1.5em;
    padding: 0.2em;
    float: right;
    width: 280px;
}
table{
    margin-left: 10px;
    border: 1px solid #a2a9b1;
}
table th{
    font-weight: bold;
    padding: 1px;
    vertical-align: top;
    text-align: left;
}
table .table-header-main{
    font-size: 1.35em;
    padding: 4px;
    text-align: center;
    background-color: #C0C0C0;
}
.table-header{
    text-align: center;
    background-color: #C0C0C0;
}

.navigation {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    display: table;
    padding: 7px;
    font-size: 95%;
    width: 245px;
}
.nav-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-header span{
    font-weight: bold;
}
.navigation ol {
    list-style: none;
    counter-reset: section;
}

.navigation li::before {
    counter-increment: section;
    content: counters(section, ".") "   ";
}
.nav-list{
    padding: 0;
}
/*==== Firs-Generation*/
.sub-header{
    font-size: 1.8em;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    line-height: 1.3;
    font-weight: normal;
    color: #000000;
    padding: 0;
    border-bottom: 1px solid #a2a9b1;
    margin: 20px 7px 10px 0;
}
figure{
    margin: 0;
    margin-top: 20px;
}
.figure-right{
    float: right;
    margin-left: 20px;
    clear: both;
}
.right-img{
    width: 200px;
    font-size: 92%;
    clear: both;
}
.figure-left{
    float: left;
    margin-right: 20px;

}
.generation{

}
.generation .img-interior{
    width: 220px;
}
.generation figure{
    border: 1px solid #a2a9b1;
    padding: 0.2em;
    background-color: #f8f9fa;
}
figure img{
    border: 1px solid #a2a9b1;
}
.text-first-gen{
    display: inline-block;
}
.text-first-gen p{
    display: inline-block;
}
.first-gen-table{
    float: right;

}
.gallery-img{
    display: flex;
    flex-wrap: wrap;

}
.gallery-img .gallery-img-fig{
    border: none;
    clear: both;
}
.gallery-img-fig img{
    width: 200px;
    height: 110px;
    padding: 40px 15px;
}
.margin-z{
    margin: 0;
}
.frannce-flag{
    display: flex;
    align-items: center;
}
.clear{
    clear: both;
}
.table-sales th,.table-sales td,.table-sales {
    padding: 3px;
    border-collapse: collapse;
    border:1px solid #a2a9b1;
    text-align: center;
}
.table-sales th{
    background: #e2e2e2;
}