# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\0.OktenWeb\HTML-CSS\1.practic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
